{% extends 'SidusEAVBootstrapBundle:Form:fields.html.twig' %}

{% block eavmanager_image_widget %}
    {# @var image \CleverAge\EAVManager\AssetBundle\Entity\Image #}
    {% if data %}
        {% set image = data %}
        <a href="{{ image.path | imagine_filter('large') }}" target="_blank" data-toggle="lightbox"
           title="{{ image }}"
           data-original-uri="{{ path('sidus_file_upload.file.download', {type: image.type, identifier: image.identifier}) }}">
            <img src="{{ image.path | imagine_filter('thumbnail') }}"
                 class="pull-right img-thumbnail" {{ image_size_attrs(image, 'thumbnail') }}>
        </a>
    {% endif %}
    <div class="well well-sm pull-left">
        {{ block('sidus_resource_widget') }}
        {% if image is defined and image %}
            <hr class="hr-sm">
            <dl class="no-margin-bottom">
                <dt>Dernière modification :</dt>
                <dd>{{ image.fileModifiedAt|date() }}</dd>
                <dt>Taille du fichier :</dt>
                <dd>{{ image.fileSize|file_size }}</dd>
                <dt>Type de fichier :</dt>
                <dd>{{ image.mimeType }}</dd>
            </dl>
        {% endif %}
    </div>
{% endblock %}

{# Adding error translation #}
{% block form_errors %}
    {% spaceless %}
        {% if error_delay %}
            {% for child in form %}
                {% if loop.index == 1 %}
                    {% if child.set('errors', errors) %}{% endif %}
                {% endif %}
            {% endfor %}
        {% else %}
            {% if errors|length > 0 %}
                {% if form.parent == null %}
                    {% from 'MopaBootstrapBundle::flash.html.twig' import flash %}
                    {% for error in errors %}
                        {{ flash('danger', error.message) }}
                    {% endfor %}
                {% else %}
                    <span class="help-{{ block('error_type') }}">
            {% for error in errors %}
                {{ error.message|trans }} <br>
            {% endfor %}
            </span>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% use '@CleverAgeEAVManagerAdmin/Asset/partials/media.preview.html.twig' %}
{% block eavmanager_media_browser_widget %}
    <div class="media-browser">
        <input type="hidden" name="{{ full_name }}"
               id="{{ id }}" {% if value is defined and value %} value="{{ value }}"{% endif %}>
        {% if disabled %}
            <div class="pull-left btn-group-vertical">
                <span class="btn btn-default disabled"
                      title="{{ 'admin.media.select.disabled' | trans | escape('html_attr') }}">
                    <i class="fa fa-image"></i> {{ 'admin.media.select.disabled' | trans }}
                </span>
            </div>
        {% else %}
            <div class="pull-left btn-group-vertical">
                {% for family in allowed_families %}
                    {% set title = 'admin.media.select.label' | trans({'%family%': family.label}) %}
                    <a data-href="{{ admin_path('media_browser', 'list', {familyCode: family.code}) }}"
                       type="button" class="btn btn-primary" title="{{ title }}"
                       data-auto-modal="{{ target }}"
                       data-media-input-id="{{ id }}"
                       data-target-element="#{{ target }}">
                        <i class="fa fa-image"></i> {{ title }}
                    </a>
                {% endfor %}
                <a href="javascript:void(0)" class="btn btn-warning media-detach">
                    <i class="fa fa-close"></i> {{ 'admin.media.detach.label' | trans }}
                </a>
            </div>
        {% endif %}
        <div class="pull-left media-preview">
            {% if eavData %}
                {% set result = eavData %}
                {{ block('media_preview') }}
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}

{% block role_hierarchy_widget %}
    {% if form.hasRole is defined %}
        {{ form_widget(form.hasRole) }}
        <div class="col-lg-offset-1">
            {{ form_rest(form) }}
        </div>
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
{% endblock %}

{% block family_permission_widget %}
    <div class="row">
        <div class="col-sm-3">
            {{ form_row(form.familyCode) }}
        </div>
        {% for permission in form %}
            {% if not permission.rendered %}
                <div class="col-sm-1">
                    {{ form_widget(permission) }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block family_selector %}
    <ul class="dropdown-menu">
        {% for family in allowed_families %}
            <li>
                <a href="{{ admin_path(admin, action, {familyCode: family.code}) }}"
                   data-target-element="#{{ target }}"
                   data-auto-modal="{{ target }}"
                   data-input-id="{{ id }}">
                    {{ family }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block sidus_simple_data_selector_widget %}
    {% if (allow_add or allow_edit) and not disabled %}
        <div class="input-group">
            {{ form_widget(form) }}
            {% if allow_edit %}
                {#<!--suppress HtmlUnknownAnchorTarget -->#}
                <a href="{{ admin_path(admin, 'editInline', {id: '__ID__'}) }}"
                   class="input-group-addon btn disabled"
                   data-target-element="#{{ target }}"
                   data-auto-modal="{{ target }}"
                   data-input-id="{{ id }}"
                   data-edit-in-place="{{ admin }}">
                    <i class="fa fa-edit"></i> {{ 'admin.action.edit.label'|trans }}
                </a>
            {% endif %}
            {% if allow_add %}
                {% if allowed_families|length == 1 %}
                    {% set family = allowed_families|first %}
                    <a href="{{ admin_path(admin, action, {familyCode: family.code}) }}"
                       class="input-group-addon btn"
                       data-target-element="#{{ target }}"
                       data-auto-modal="{{ target }}"
                       data-input-id="{{ id }}">
                        <i class="fa fa-plus"></i> Create
                    </a>
                {% else %}
                    <div class="dropdown input-group-addon">
                        <button type="button" class="btn" data-toggle="dropdown">
                            <i class="fa fa-plus"></i> {{ 'admin.action.create.label'|trans }}
                        </button>
                        {{ block('family_selector') }}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
{% endblock %}

{% block embed_multi_family_entry_widget %}
    {{ block('hidden_widget') }}
    {% set autoloadTargetId = id ~ '_embed_target' %}
    {% set class = 'autoload no-navigation embed-multi-family-item' %}
    {% if data %}
        <div class="{{ class }}" id="{{ autoloadTargetId }}"
             data-target-element="#{{ autoloadTargetId }}"
             data-href="{{ admin_entity_path(admin, data, 'preview', {inputId: id, disabled: disabled}) }}"
             data-autoload="1">
            {{ data }}
            <div class="tg-loading">&nbsp;</div>
        </div>
    {% elseif not disabled %}
        <div class="{{ class }}" id="{{ autoloadTargetId }}"
             data-target-element="#{{ autoloadTargetId }}"
             data-autoload-url="{{ admin_path(admin, 'preview', {id: '__ID__', inputId: id}) }}"
             data-autoload="__PLACEHOLDER__">
            <div class="dropdown input-group">
                <button type="button" class="btn btn-success" data-toggle="dropdown">
                    <i class="fa fa-plus"></i> {{ 'admin.action.create.label'|trans }}
                </button>
                <button type="button" class="btn btn-success" data-toggle="dropdown">
                    <i class="fa fa-caret-down"></i>
                </button>
                {{ block('family_selector') }}
            </div>
            <div class="clear"></div>
        </div>
    {% else %}
        <div class="dropdown input-group">
            <button type="button" class="btn btn-default" data-toggle="dropdown" disabled="disabled">
                <i class="fa fa-plus"></i> {{ 'admin.action.create.label'|trans }}
            </button>
            <button type="button" class="btn btn-default" data-toggle="dropdown" disabled="disabled">
                <i class="fa fa-caret-down"></i>
            </button>
        </div>
    {% endif %}
{% endblock %}

{% block embed_multi_family_collection_widget %}
    <div class="embed-multi-family">
        {{ form_widget(form) }}
    </div>
{% endblock %}
