{% extends 'SidusEAVVariantBundle:Form:fields.html.twig' %}

{# Extended from SidusEAVVariantBundle:Form:fields.html.twig #}
{% block sidus_variant_collection_widget %}
    {% set target = target is defined ? target : app.request.query.get('target') %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {% if data.id %}
                {% if variant_families|length == 1 %}
                    <a href="{{ admin_path('variant', 'create', base_route_parameters|merge({familyCode: variant_families|first.code})) }}"
                       class="btn btn-primary"
                       title="{{ 'sidus_eav_variant.link.create.title'|trans }}" data-target-element="{{ target }}">
                        <i class="fa fa-plus"></i> {{ 'sidus_eav_variant.link.create.label'|trans }}
                    </a>
                {% else %}
                    <a href="{{ admin_path('variant', 'select', base_route_parameters|merge({familyCode: variant_families|first.code})) }}"
                       class="btn btn-primary"
                       title="{{ 'sidus_eav_variant.link.select.title'|trans }}" data-target-element="{{ target }}">
                        <i class="fa fa-plus"></i> {{ 'sidus_eav_variant.link.select.label'|trans }}
                    </a>
                {% endif %}
                &nbsp;
                {{ 'sidus_eav_variant.text.allowed_variants'|trans }}
                {{ variant_families|join(', ') }}
            {% else %}
                {{ 'sidus_eav_variant.text.create_first'|trans }}
            {% endif %}
        </div>
        {% if data.id %}
            <ul class="list-group">
                {% for variant in variants %}
                    <li class="list-group-item">
                        {{ variant }} <span class="text-muted">({{ variant.family }})</span>
                        <div class="btn-group pull-right">
                            <a href="{{ admin_entity_path('variant', variant, 'edit', base_route_parameters) }}"
                               class="btn btn-default" title="{{ 'sidus_eav_variant.link.edit.title'|trans }}"
                               data-target-element="{{ target }}">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="{{ admin_entity_path('variant', variant, 'delete', base_route_parameters) }}"
                               class="btn btn-danger" title="{{ 'sidus_eav_variant.link.delete.title'|trans }}"
                               data-target-element="{{ target }}">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}

{% block eavmanager_image_widget %}
    {# @var image \CleverAge\EAVManager\AssetBundle\Entity\Image #}
    {% if data %}
        {% set image = data %}
        <img src="{{ image.path | imagine_filter('thumbnail') }}"
             class="pull-right img-thumbnail" {{ image_size_attrs(image, 'thumbnail') }}>
    {% endif %}
    <div class="well well-sm pull-left">
        {{ block('sidus_resource_widget') }}
        {% if image is defined and image %}
            <hr class="hr-sm">
            <dl class="no-margin-bottom">
                <dt>Dernière modification :</dt>
                <dd>{{ image.fileModifiedAt|date() }}</dd>
                <dt>Taille du fichier :</dt>
                <dd>{{ image.fileSize|file_size }}</dd>
                <dt>Type de fichier :</dt>
                <dd>{{ image.mimeType }}</dd>
            </dl>
        {% endif %}
    </div>
{% endblock %}

{# Adding error translation #}
{% block form_errors %}
    {% spaceless %}
        {% if error_delay %}
            {% for child in form %}
                {% if loop.index == 1 %}
                    {% if child.set('errors', errors) %}{% endif %}
                {% endif %}
            {% endfor %}
        {% else %}
            {% if errors|length > 0 %}
                {% if form.parent == null %}
                    {% from 'MopaBootstrapBundle::flash.html.twig' import flash %}
                    {% for error in errors %}
                        {{ flash('danger', error.message) }}
                    {% endfor %}
                {% else %}
                    <span class="help-{{ block('error_type') }}">
            {% for error in errors %}
                {{ error.message|trans }} <br>
            {% endfor %}
            </span>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% use '@CleverAgeEAVManagerAdmin/Asset/partials/media.preview.html.twig' %}
{% block eavmanager_media_browser_widget %}
    <div class="media-browser">
        <input type="hidden" name="{{ full_name }}"
               id="{{ id }}" {% if value is defined and value %} value="{{ value }}"{% endif %}>
        {% if disabled %}
            <div class="pull-left btn-group-vertical">
                <span class="btn btn-default disabled" title="{{ 'admin.media.select.disabled' | trans }}">
                    <i class="fa fa-image"></i> {{ 'admin.media.select.disabled' | trans }}
                </span>
            </div>
        {% else %}
            <div class="pull-left btn-group-vertical">
                {% for family in allowed_families %}
                    {% set title = 'admin.media.select.label' | trans({'%family%': family.label}) %}
                    <a data-href="{{ admin_path('media_browser', 'list', {familyCode: family.code}) }}"
                       type="button" class="btn btn-primary" title="{{ title }}" data-auto-modal="{{ target }}"
                       data-media-input-id="{{ id }}" data-target-element="#{{ target }}">
                        <i class="fa fa-image"></i> {{ title }}
                    </a>
                {% endfor %}
                <a href="javascript:void(0)" class="btn btn-warning media-detach">
                    <i class="fa fa-close"></i> {{ 'admin.media.detach.label' | trans }}
                </a>
            </div>
        {% endif %}
        <div class="pull-left media-preview">
            {% if eavData %}
                {% set result = eavData %}
                {{ block('media_preview') }}
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}

{% block role_hierarchy_widget %}
    {% if form.hasRole is defined %}
        {{ form_widget(form.hasRole) }}
        <div class="col-lg-offset-1">
            {{ form_rest(form) }}
        </div>
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
{% endblock %}

{% block family_permission_widget %}
    <div class="row">
        <div class="col-sm-3">
            {{ form_widget(form.family) }}
        </div>
        {% for permission in form %}
            {% if not permission.rendered %}
                <div class="col-sm-1">
                    {{ form_widget(permission) }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block sidus_simple_data_selector_widget %}
    {% if allow_add or allow_edit %}
        <div class="input-group">
            {{ form_widget(form) }}
            {% if allow_edit %}
                {#<!--suppress HtmlUnknownAnchorTarget -->#}
                <a href="{{ admin_path(admin, 'editInline', {id: '__ID__'}) }}"
                   class="input-group-addon btn disabled" data-target-element="#{{ target }}"
                   data-auto-modal="{{ target }}" data-input-id="{{ id }}" data-edit-in-place="{{ admin }}">
                    <i class="fa fa-edit"></i> {{ 'admin.action.edit.label'|trans }}
                </a>
            {% endif %}
            {% if allow_add %}
                {% if allowed_families|length == 1 %}
                    {% set family = allowed_families|first %}
                    <a href="{{ admin_path(admin, action, {familyCode: family.code}) }}"
                       class="input-group-addon btn" data-target-element="#{{ target }}"
                       data-auto-modal="{{ target }}" data-input-id="{{ id }}">
                        <i class="fa fa-plus"></i> Create
                    </a>
                {% else %}
                    <div class="dropdown input-group-addon">
                        <button type="button" class="btn" data-toggle="dropdown">
                            <i class="fa fa-plus"></i> {{ 'admin.action.create.label'|trans }}
                        </button>
                        <ul class="dropdown-menu">
                            {% for family in allowed_families %}
                                <li>
                                    <a href="{{ admin_path(admin, action, {familyCode: family.code}) }}"
                                       data-target-element="#{{ target }}"
                                       data-auto-modal="{{ target }}" data-input-id="{{ id }}">
                                        {{ family }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
{% endblock %}
