{# @var datagrid \Sidus\DataGridBundle\Model\DataGrid #}
{% extends '@SidusDataGrid/DataGrid/bootstrap3.html.twig' %}

{% block filters %}
    <div class="actions-sticky">
        <div class="actions-flex">
            {% block sticky_actions %}
                <div class="breadcrumb-wrapper">
                    <h4>
                        {{ title is defined ? title|raw : 'List' }}
                    </h4>
                </div>
                <div class="actions-wrapper">
                    <div>
                        <div class="btn-group pull-right">
                            {% block sticky_filters_actions %}
                                {% if datagrid.formView.filterResetButton is defined %}
                                    {{ form_widget(datagrid.formView.filterResetButton) }}
                                {% endif %}
                                {% if datagrid.formView.filterSubmitButton is defined %}
                                    {{ form_widget(datagrid.formView.filterSubmitButton) }}
                                {% endif %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
    {% if form.filters|length > 0 %}
        <div class="datagrid-filters">
            <div class="row">
                {% for subForm in form.filters|slice(0, 3) %}
                    <div class="col-md-4">
                        {{ form_row(subForm) }}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% if form.filters|length > 3 %}
            <div class="datagrid-filters collapse" id="{{ datagrid.code }}_filters">
                <div class="row">
                    {% for subForm in form.filters|slice(3) %}
                    <div class="col-md-4">
                        {{ form_row(subForm) }}
                    </div>
                    {% if loop.index % 3 == 0 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
                <hr class="clear">
            </div>
            <p class="text-center">
                <a href="#{{ datagrid.code }}_filters"
                   class="text-muted" role="button" data-toggle="collapse" aria-expanded="false"
                   aria-controls="{{ datagrid.code }}_filters">{{ icon('filter') }}{{ 'datagrid.filters.toggle'|trans }}</a>
            </p>
        {% endif %}
    {% endif %}
{% endblock %}
