{% use '@CleverAgeEAVManagerAdmin/Asset/media.preview.html.twig' %}
{% spaceless %}
    <div class="btn-group btn-group-sm">
        {% if is_granted('edit', viewParameters.family) or is_granted('ROLE_SUPER_ADMIN') %}
            {% set link_title = tryTrans([
                'admin.family.'~viewParameters.family.code~'.edit.label',
                'admin.'~admin.code~'.edit.label',
                'admin.action.edit.label',
            ]) %}
            <a href="{{ entity_path(result, 'editModal', {inputId: viewParameters.inputId}) }}"
               class="btn btn-default" data-target="tg_modal" title="{{ link_title }}">
                <i class="fa fa-edit"></i>
            </a>
        {% endif %}
        <a href="#" class="btn btn-info media-select" data-input-id="{{ viewParameters.inputId }}"
           data-media-id="{{ result.id }}"
           data-media-preview="{{ block('media_preview')|escape('html_attr') }}"
           title="{{ 'admin.media.select.title' | trans }}">
            <i class="fa fa-thumb-tack"></i>
        </a>
    </div>
{% endspaceless %}
