{% extends isAjax ? 'CleverAgeEAVManagerLayoutBundle::empty_layout.html.twig' : 'CleverAgeEAVManagerAdminBundle:Variant:index.html.twig' %}

{% block tg_center %}
    {% if form is defined %}
        <div class="edit-form">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                {% block form_actions %}
                    <div class="btn-group pull-right">
                        <a href="{{ entity_path(parentData, 'edit') }}" class="btn btn-default" data-target="{{ target }}">
                            {{ 'admin.variant.delete.back.label'|trans }}
                        </a>
                        <button type="submit" class="btn btn-danger">{{ 'admin.variant.delete.submit.label'|trans }}</button>
                    </div>
                    <div class="clear"></div>
                {% endblock %}
            {{ form_end(form) }}
        </div>
    {% endif %}
{% endblock %}
