{% extends 'CleverAgeEAVManagerAdminBundle:Base:edit.html.twig' %}

{% import "CleverAgeEAVManagerLayoutBundle:Macros:utilities.html.twig" as utilities %}

{% block form_actions %}
    <div class="btn-group pull-right">
        <a href="{{ listPath }}" data-target="{{ target }}" class="btn btn-default">
            {{ tryTrans([admin_trans_key ~ 'back.label', 'admin.action.back.label'], [], 'Back') }}
        </a>
        {{ block('submit_button') }}
    </div>
    <div class="clear"></div>
{% endblock %}

{% block additionnal_javascript %}
    {{ parent() }}
    {{ utilities.lock_form(form.vars.attr.id, target) }}
{% endblock %}
