{% extends '@CleverAgeEAVManagerUser/base.html.twig' %}

{% block content %}
    <div class="panel panel-default" style="background-color:#ffffffe0;margin-top:30vh;transform:translateY(-30%);">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'login.title'|trans({'%title%': block('title')}, 'security') }}</h3>
        </div>
        <div class="panel-body">
            <form action="{{ path('login') }}" method="post" accept-charset="UTF-8" role="form">
                <fieldset {% if error %}class="has-error"{% endif %}>
                    <div class="form-group">
                        <input class="form-control" placeholder="{{ 'login.username'|trans({}, 'security') }}"
                               name="_username" type="text" value="{{ last_username }}" required="required">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="{{ 'login.password'|trans({}, 'security') }}"
                               name="_password" type="password" value="" required="required">
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    {% if error %}
                        <div class="text-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                </fieldset>
                <fieldset>
                    <p class="text-right">
                        <a href="{{ path('lost_password') }}">{{ 'login.lost_password'|trans({}, 'security') }}</a>
                    </p>
                    <input class="btn btn-success btn-block" type="submit" id="_submit" name="_submit"
                           value="{{ 'login.submit'|trans({}, 'security') }}">
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}

{# Best practise: avoid any third-party code on login pages #}
{% block javascripts %}
    <script>
        {#
        Load random image background from unsplash (this is safe)
        set the loginSplashUrl global variable in twig to override the default pattern
        #}
        document.addEventListener("DOMContentLoaded", function () {
            var imgSrc = '{{ loginSplashUrl|default('https://source.unsplash.com/random/%width%x%height%') }}';
            var img = new Image();
            img.src = imgSrc.replace('%width%', window.innerWidth).replace('%height%', window.innerHeight);
            img.style.position = 'fixed';
            img.style.zIndex = -1000;
            img.style.transition = 'opacity 2s ease-in-out';
            img.style.opacity = 0;
            img.onload = function () {
                document.body.insertBefore(img, document.body.firstChild);
                window.setTimeout(function () {
                    img.style.opacity = 1;
                }, 0);
            }
        });
    </script>
{% endblock %}
{% block additionnal_javascript %}{% endblock %}
