{% extends '@CleverAgeEAVManagerUser/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <h2>Mot de passe perdu ?</h2>
                {{ block('flash_messages') }}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {% if error %}
                    <p class="text-danger">{{ error }}</p>
                {% endif %}
                <p><a href="{{ path('login') }}">Retour à l'écran de connexion</a></p>
                <button type="submit" class="btn btn-primary btn-block">Envoyer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
