{% extends '@CleverAgeEAVManagerUser/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <h2>{% if user.new %}Création{% else %}Réinitialisation{% endif %} du mot de passe</h2>
                {{ block('flash_messages') }}
                <p>Vous êtes sur le point de modifier le mot de passe de l'utilisateur {{ user }}</p>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <p><a href="{{ path('login') }}">Retour à l'écran de connexion</a></p>
                <button type="submit" class="btn btn-primary btn-block">Confirmer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
