{% import "CleverAgeEAVManagerLayoutBundle:Macros:utilities.html.twig" as utilities %}

{% use '@CleverAgeEAVManagerAdmin/Asset/partials/media.preview.html.twig' %}
{% spaceless %}
    {# @var admin \Sidus\AdminBundle\Admin\Admin #}
    <div class="btn-group btn-group-sm">
        {% if admin.hasAction('edit') and is_granted('edit', result) %}
            {{ utilities.eav_action_button(admin, result, 'edit', {
                target: '_CURRENT_MODAL',
            }) }}
        {% elseif admin.hasAction('read') and is_granted('read', result) %}
            {{ utilities.eav_action_button(admin, result, 'read', {
                target: '_CURRENT_MODAL',
                icon: 'eye',
            }) }}
        {% endif %}
        <a href="#" class="btn btn-info media-select" data-media-id="{{ result.id }}"
           data-media-preview="{{ block('media_preview')|escape('html_attr') }}"
           title="{{ 'admin.media.select.title'|trans }}">
            {{ icon('thumb-tack') }}
        </a>
    </div>
{% endspaceless %}
