{% use '@CleverAgeEAVManagerAdmin/EAVData/partials/edit.blocks.html.twig' %}

{% block submit_button %}
    {% use '@CleverAgeEAVManagerAdmin/Asset/partials/media.preview.html.twig' %}
    {% use '@CleverAgeEAVManagerAdmin/Base/partials/edit.blocks.html.twig' with submit_button as parent_submit_button %}
    {{ block('parent_submit_button') }}
    {% if isAjax %}
        {% set result = data %}
        <a href="#" class="btn btn-info media-select" data-media-id="{{ result.id }}"
           data-media-preview="{{ block('media_preview')|escape('html_attr') }}"
           title="{{ 'admin.media.select.title'|trans }}">
            <i class="fa fa-thumb-tack"></i> {{ 'admin.media.select.label'|trans }}
        </a>
    {% endif %}
{% endblock %}
