{# @var admin \Sidus\AdminBundle\Admin\Admin #}
{% use '@CleverAgeEAVManagerAdmin/Base/partials/edit.blocks.html.twig' %}

{% block edit_flash_messages %}
    {% import '@CleverAgeEAVManagerLayout/Macros/utilities.html.twig' as utilities %}
    {{ not success ? utilities.flash_messages() }}
{% endblock %}

{% block submit_button %}
    {% set disabled = constrainedEntities is defined and constrainedEntities|length %}
    <button type="submit" class="btn btn-danger{{ disabled ? ' disabled' }} %}">
        {{ tryTrans(
            [
                admin_trans_key ~ '.label',
                'admin.action.' ~ admin.currentAction.code ~ '.label'
            ],
            [],
            admin.currentAction.code|capitalize
        ) }}
    </button>
{% endblock %}

{% block secondary_actions %}
    {% if data is defined and data %}
        {% import '@CleverAgeEAVManagerLayout/Macros/utilities.html.twig' as utilities %}
        <li>
            {% if admin.hasAction('edit') and is_granted('edit', data) %}
                {{ utilities.eav_action_button(admin, data, 'edit', {
                    title_as_content: true,
                    target: target,
                    class: '',
                }) }}
            {% elseif admin.hasAction('read') and is_granted('read', data) %}
                {{ utilities.eav_action_button(admin, data, 'read', {
                    title_as_content: true,
                    target: target,
                    class: '',
                    icon: 'eye',
                }) }}
            {% endif %}
        </li>
    {% endif %}
{% endblock %}

{% block form_message %}
    {% if constrainedEntities is defined and constrainedEntities|length %}
        <h4 class="text-danger">{{ ('form.' ~ admin.currentAction.code ~ '.disabled')|trans }}</h4>
        <p>{{ ('form.' ~ admin.currentAction.code ~ '.constraint')|trans({'%entity%': render_value(data|default()) }) }}</p>
        <ul class="list-group well">
            {% for constrainedEntity in constrainedEntities %}
                <li>
                    {{ render_value(constrainedEntity) }}
                    <span class="text-muted" title="{{ constrainedEntity|typeof(true) }}">
                        ({{ constrainedEntity|typeof }})
                    </span>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{{ ('form.' ~ admin.currentAction.code ~ '.confirmation')|trans({'%entity%': render_value(data|default()) }) }}</p>
    {% endif %}
{% endblock %}

{% block additionnal_javascript %}
    {% import "CleverAgeEAVManagerLayoutBundle:Macros:utilities.html.twig" as utilities %}
    {{ utilities.triggerDataEvent(admin, data is defined ? data, dataId, success, target) }}
{% endblock %}
