{# @var admin \Sidus\AdminBundle\Admin\Admin #}

{% block edit_form_class %}{% endblock %}

{% block form_actions %}
    {% set backAction = admin.option('allow_back')|default(not isAjax) %}
    <div class="btn-group pull-right">
        {{ block('back_button') }}
        {{ block('submit_button') }}
        {% if data|default(false) %}
            {{ block('secondary_actions_button') }}
        {% endif %}
    </div>
{% endblock %}

{% block edit_standard %}
    <div class="edit-form {{ block('edit_form_class') }}">
        {{ form_start(form) }}
        {{ block('sticky_actions') }}
        <div class="clear"></div>
        {{ form_widget(form) }}
        {{ block('form_message') }}
        {{ form_end(form) }}
        {{ block('additional_content') }}
    </div>
{% endblock %}

{% block edit_flash_messages %}
    {% import "CleverAgeEAVManagerLayoutBundle:Macros:utilities.html.twig" as utilities %}
    {{ utilities.flash_messages() }}
{% endblock %}

{% block sticky_actions %}
    <div class="actions-sticky">
        {{ block('edit_flash_messages') }}
        <div class="actions-flex">
            <div class="breadcrumb-wrapper">
                {{ block('breadcrumb') }}
            </div>
            <div class="actions-wrapper">
                <div>{# Extra div necessary to prevent child position relative to break #}
                    {{ block('form_actions') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block form_message %}{% endblock %}

{% block edit_modal %}
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            {{ form_start(form) }}
            <div class="modal-body no-padding-top">
                {{ block('sticky_actions') }}
                <div class="edit-form {{ block('edit_form_class') }}">
                    {{ form_widget(form) }}
                    {{ block('form_message') }}
                </div>
            </div>
            {{ form_end(form) }}
            {{ block('additional_content') }}
        </div>
    </div>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        {{ block('breadcrumb_index') }}
        {{ block('breadcrumb_list') }}
        {{ block('breadcrumb_data') }}
        {{ block('breadcrumb_action') }}
    </ol>
{% endblock %}

{% block breadcrumb_index %}
    {% if admin.hasAction('index') %}
        <li>
            {% set title = tryTrans([
                'admin.' ~ admin.code ~ 'index.title',
                'admin.index.title'
            ], [], admin.code|humanize) %}
            <a href="{{ admin_path(admin, 'index') }}" title="{{ title }}">
                {{ title }}
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block breadcrumb_list %}
    {% if admin.hasAction('list') %}
        <li>
            {% set title = tryTrans([
                'admin.' ~ admin.code ~ 'list.title',
                'admin.list.title'
            ], [], 'List') %}
            <a href="{{ listPath is defined and listPath ? listPath : admin_path(admin, 'list') }}" title="{{ title }}">
                {{ title }}
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block breadcrumb_data %}
    {% if admin.hasAction('edit') and admin.currentAction != 'create' and data is defined and data.id %}
        <li class="shrink">
            {% set title = render_value(data) %}
            <a href="{{ admin_entity_path(admin, data, 'edit') }}" title="{{ title }}">
                {{ title }}
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block breadcrumb_action %}
    {% set title = tryTrans([
        admin_trans_key ~ '.title',
        'admin.action.' ~ admin.currentAction.code ~ '.title'
    ], [], admin.currentAction.code|humanize) %}
    <li class="active" title="{{ title }}">
        {{ title }}
    </li>
{% endblock %}

{% block back_button %}
    {% if listPath is defined and listPath %}
        <a href="{{ listPath }}" class="btn btn-default"
           {% if not backAction %}data-close-target="{{ target }}"{% elseif isModal %}
            data-target-element="{{ target }}"{% endif %}>
            {% if backAction %}
                <i class="fa fa-arrow-left"></i> {{ tryTrans([admin_trans_key ~ 'back.label', 'admin.action.back.label'], [], 'Back') }}
            {% else %}
                <i class="fa fa-close"></i> {{ tryTrans([admin_trans_key ~ 'close.label', 'admin.action.close.label'], [], 'Close') }}
            {% endif %}
        </a>
    {% elseif isAjax %}
        <a href="#" data-close-target="{{ target }}" class="btn btn-default">
            <i class="fa fa-close"></i> {{ tryTrans([admin_trans_key ~ 'close.label', 'admin.action.close.label'], [], 'Close') }}
        </a>
    {% endif %}
{% endblock %}

{% block submit_button %}
    <button type="submit" class="btn btn-primary">
        <i class="fa fa-save"></i> {{ tryTrans([admin_trans_key ~ 'submit.label', 'admin.action.submit.label'], [], 'Submit') }}
    </button>
{% endblock %}

{% block secondary_actions_button %}
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-wrench"></i> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        {{ block('secondary_actions') }}
    </ul>
{% endblock %}

{% block secondary_actions %}
    {{ block('delete_link') }}
{% endblock %}

{% block delete_link %}
    {% if admin.hasAction('delete') and data is defined and data.id and is_granted('delete', data) %}
        {% import '@CleverAgeEAVManagerLayout/Macros/utilities.html.twig' as utilities %}
        <li class="bg-danger">
            {{ utilities.eav_action_button(admin, data, 'delete', {
                title_as_content: true,
                target: target,
                class: '',
                icon: 'trash',
            }) }}
        </li>
    {% endif %}
{% endblock %}

{% block additional_content %}
    <hr/>
    {% if data is defined and data %}
        <dl class="dl-horizontal">
            {% if data.identifier is defined and data.identifier %}
                <dt>{{ tryTrans(['admin.' ~ admin.code ~ '.additional.identifier.label', 'admin.additional.identifier.label'], [], 'Identifier:') }}</dt>
                <dd>{{ data.identifier }}</dd>
            {% endif %}
            {% if data.createdBy is defined and data.createdBy %}
                <dt>{{ tryTrans(['admin.' ~ admin.code ~ '.additional.createdBy.label', 'admin.additional.createdBy.label'], [], 'Created by:') }}</dt>
                <dd>{{ data.createdBy }}</dd>
            {% endif %}
            {% if data.createdAt is defined and data.createdAt %}
                <dt>{{ tryTrans(['admin.' ~ admin.code ~ '.additional.createdAt.label', 'admin.additional.createdAt.label'], [], 'Created at:') }}</dt>
                <dd>{{ data.createdAt|date }}</dd>
            {% endif %}
            {% if data.updatedBy is defined and data.updatedBy %}
                <dt>{{ tryTrans(['admin.' ~ admin.code ~ '.additional.updatedBy.label', 'admin.additional.updatedBy.label'], [], 'Updated by:') }}</dt>
                <dd>{{ data.updatedBy }}</dd>
            {% endif %}
            {% if data.updatedAt is defined and data.updatedAt %}
                <dt>{{ tryTrans(['admin.' ~ admin.code ~ '.additional.updatedAt.label', 'admin.additional.updatedAt.label'], [], 'Updated at:') }}</dt>
                <dd>{{ data.updatedAt|date }}</dd>
            {% endif %}
        </dl>
    {% endif %}
{% endblock %}
