{% block list_modal %}
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-close-target="{{ target }}" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{ block('list_title') }}</h4>
            </div>
            <div class="modal-body">
                {{ block('list_flash_messages') }}
                {{ block('datagrid') }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-close-target="{{ target }}">Close</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block datagrid %}
    {{ render_datagrid(datagrid, {admin: admin}) }}
{% endblock %}

{% block list_title %}
    {{ tryTrans([admin_trans_key ~ '.title', 'admin.list_of'], {'%family%': admin.code|humanize}) }}
{% endblock %}

{% block list_flash_messages %}
    {% import "CleverAgeEAVManagerLayoutBundle:Macros:utilities.html.twig" as utilities %}
    {{ utilities.flash_messages() }}
{% endblock %}
