{% use '@CleverAgeEAVManagerAdmin/Base/partials/edit.blocks.html.twig' %}

{% block breadcrumb_list %}
    {% if family is defined and family %}
        {% if listPath is defined and listPath %}
            <li>
                <a href="{{ listPath }}" title="{{ family }}">
                    {{ family }}
                </a>
            </li>
        {% else %}
            <li>{{ family }}</li>
        {% endif %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block introduction_content %}
    {{ family.getOption('introduction_content')|raw }}
{% endblock %}
