{% block breadcrumb_list %}
    {% if family is defined and family %}
        {% if listPath is defined and listPath %}
            <li>
                <a href="{{ listPath }}" title="{{ family }}">
                    {{ family }}
                </a>
            </li>
        {% else %}
            <li>{{ family }}</li>
        {% endif %}
    {% else %}
        {% use '@CleverAgeEAVManagerAdmin/Base/partials/edit.blocks.html.twig' with breadcrumb_list as parent_breadcrumb_list %}
        {{ block('parent_breadcrumb_list') }}
    {% endif %}
{% endblock %}
