{#
!!!! @WARNING !!!!
Because of a major change in symfony and twig engine, we have changed the way you must inherit the layout template.

Don't inherit this template unless you want to change the ENTIRE layout

NEVER points to this layout directly !


#}<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    {% import "CleverAgeEAVManagerLayoutBundle:Macros:utilities.html.twig" as utilities %}
    {% block metas %}
        <meta charset="{{ _charset }}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    <title>{% block title %}CleverAge/EAVManager{{ title is defined ? ' - ' ~ title }}{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('bundles/cleverageeavmanagerlayout/css/layout-20200409.css') }}" type="text/css"
              rel="stylesheet" media="screen"/>
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% block main_container %}
    <div class="container-fluid">
        {% block main_content %}
            <div class="row" id="main_content">
                <div id="tg_left" class="sidebar sidebar-inverse with-loader autoload" data-is-target>
                    {%- block tg_left %}
                        {% block main_menu_home_link %}
                            <a href="{{ path('eavmanager_layout.dashboard') }}">CleverAge/EAVManager</a>
                        {% endblock %}
                        <hr class="clear">
                        {% block user_menu %}
                            {% if app.user %}
                                <ul class="nav">
                                    <li class="{% if app.request.attributes.get('_route') == 'eavmanager_user.profile.edit' %} active{% endif %}">
                                        <a href="{{ path('eavmanager_user.profile.edit') }}">
                                            {{ icon('user') }}&nbsp;{{ app.user }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('logout') }}" title="logout">
                                            {{ icon('power-off') }}&nbsp;{{ 'logout.label'|trans({}, 'security') }}
                                        </a>
                                    </li>
                                </ul>
                                {{ utilities.context_form() }}
                            {% endif %}
                        {% endblock %}
                        {% block main_menu_application %}
                            {% block families_menu %}
                                {% if is_granted('ROLE_DATA_MANAGER') %}
                                    {% for admin in get_admins() %}
                                        {# @var admin \Sidus\AdminBundle\Admin\Admin #}
                                        {% if not admin.option('hidden') %}
                                            {{ utilities.admin_family_nav(admin, family is defined ? family) }}
                                        {% endif %}
                                    {% endfor %}
                                    {% if is_granted('ROLE_MEDIA_MANAGER') %}
                                        {{ utilities.admin_family_nav(admin('media'), family is defined ? family) }}
                                    {% endif %}
                                {% endif %}
                            {% endblock %}
                            {% block user_manager_menu %}
                                {% if is_granted('ROLE_USER_MANAGER') %}
                                    {% set admin = admin('user') %}
                                    <a class="admin-nav" data-toggle="collapse" href="#admin_users">
                                        <h5>
                                            {{ icon('expeditedssl') }}&nbsp;{{ 'admin.user_groups.title'|trans }}
                                            <span class="pull-right"><span class="caret"></span></span>
                                        </h5>
                                    </a>
                                    <div id="admin_users"
                                         class="collapse{% if admin.hasRoute(app.request.attributes.get('_route')) %} in{% endif %}">
                                        <ul class="nav nav-pills nav-stacked">
                                            {{ utilities.admin_menu_icon_link('user', null, 'user', 'list') }}
                                            {{ utilities.admin_menu_icon_link('users', null, 'group', 'list') }}
                                        </ul>
                                    </div>
                                {% endif %}
                            {% endblock %}
                        {% endblock %}
                    {% endblock -%}
                </div>
                <div id="tg_center" class="with-loader autoload" data-is-target>
                    {{ block('flash_messages') }}
                    {% block tg_center %}{% endblock %}
                </div>
                <div id="tg_right" class="with-loader autoload" data-is-target>{% block tg_right %}{% endblock %}</div>
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block flash_messages %}
    {% set flashMessages = utilities.flash_messages()|trim %}
    {% if flashMessages %}
        <div class="actions-sticky">
            {{ flashMessages|raw }}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
    {% if app.debug %}
    <script src="{{ asset('bundles/cleverageeavmanagerlayout/js/build-20200409.js') }}"></script>
    {% else %}
    <script src="{{ asset('bundles/cleverageeavmanagerlayout/js/build-20200409.min.js') }}"></script>
    {% endif %}
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {{ tinymce_init() }}
{% endblock %}
{% block additionnal_javascript %}{% endblock %}

{% block error_template %}
    <div id="error-template" class="hidden">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title text-danger">
                        {{ icon('exclamation-triangle') }}&nbsp;{{ 'error.template.header'|trans }}
                    </h4>
                </div>
                <div class="modal-body">
                    <h4>{{ 'error.template.title'|trans }}</h4>
                    <p>{{ 'error.template.message'|trans|raw }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
