{#
!!!! @WARNING !!!!
Because of a major change in symfony and twig engine, we have changed the way you must inherit the layout template.

Don't inherit this template unless you want to change the ENTIRE layout

NEVER points to this layout directly !


#}<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    {% import "CleverAgeEAVManagerLayoutBundle:Macros:utilities.html.twig" as utilities %}
    {% block metas %}
        <meta charset="{{ _charset }}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    <title>{% block title %}CleverAge/EAVManager{{ title is defined ? ' - ' ~ title }}{% endblock %}</title>
    {% block stylesheets %}
        {# !!!!!! WARNING !!!!! #}
        {# Because of the way Assetic works, if you want to override this block you will also have to override the JS block #}
        {% stylesheets
        'bundles/pinanoselect2/css/select2.css'
        'bundles/mopabootstrap/components/smalot-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css'
        'bundles/cleverageeavmanagerlayout/css/layout.css'
        filter='?uglifycss' filter='cssrewrite' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen"/>
        {% endstylesheets %}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
{% block main_container %}
    <div class="container-fluid">
        {% block main_content %}
            <div class="row" id="main_content">
                <div id="tg_left" class="sidebar sidebar-inverse with-loader autoload">
                    {% block tg_left %}
                        {% block main_menu_home_link %}
                            <a href="{{ path('eavmanager_layout.dashboard') }}">CleverAge/EAVManager</a>
                        {% endblock %}
                        <hr class="clear">
                        {% block user_menu %}
                            {% if app.user %}
                                <ul class="nav">
                                    <li class="{% if app.request.attributes.get('_route') == 'eavmanager_user.profile.edit' %} active{% endif %}">
                                        <a href="{{ path('eavmanager_user.profile.edit') }}">
                                            <i class="fa fa-user"></i> {{ app.user }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('logout') }}" title="logout">
                                            <i class="fa fa-power-off"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                                {{ utilities.context_form() }}
                            {% endif %}
                        {% endblock %}
                        {% block main_menu_application %}
                            {% if is_granted('ROLE_DATA_MANAGER') %}
                                {% for admin in get_admins() %}
                                    {# @var admin \Sidus\AdminBundle\Admin\Admin #}
                                    {% if not admin.option('hidden') %}
                                        {{ utilities.admin_family_nav(admin, family is defined ? family) }}
                                    {% endif %}
                                {% endfor %}
                                {% if is_granted('ROLE_MEDIA_MANAGER') %}
                                    {{ utilities.admin_family_nav(admin('media'), family is defined ? family) }}
                                {% endif %}
                            {% endif %}
                            {% if is_granted('ROLE_USER_MANAGER') %}
                                {% set admin = admin('user') %}
                                <a class="admin-nav" data-toggle="collapse" href="#admin_users">
                                    <h5>
                                        <i class="fa fa-users"></i>
                                        {{ 'admin.user_groups.title'|trans }}
                                        <span class="pull-right"><span class="caret"></span></span>
                                    </h5>
                                </a>
                                <div id="admin_users" class="collapse{% if admin.hasRoute(app.request.attributes.get('_route')) %} in{% endif %}">
                                    <ul class="nav nav-pills nav-stacked">
                                        {{ utilities.admin_menu_icon_link('user', null, 'user', 'list') }}
                                        {{ utilities.admin_menu_icon_link('users', null, 'group', 'list') }}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endblock %}
                    {% endblock %}
                </div>
                <div id="tg_center" class="with-loader autoload">
                    {{ utilities.flash_messages() }}
                    {% block tg_center %}{% endblock %}
                </div>
                <div id="tg_right" class="with-loader autoload">{% block tg_right %}{% endblock %}</div>
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {# !!!!!! WARNING !!!!! #}
    {# Because of the way Assetic works, if you want to override this block you will also have to override the CSS block #}
    {% javascripts
    'assets/jquery/jquery.min.js'
    'assets/jquery-ui/jquery-ui.min.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap-sass/assets/javascripts/bootstrap.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
    '@MopaBootstrapBundle/Resources/public/components/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.js'
    '@MopaBootstrapBundle/Resources/public/components/smalot-bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.fr.js'
    '@SidusFileUploadBundle/Resources/public/vendor/jquery-file-upload/js/jquery.fileupload.js'
    '@SidusFileUploadBundle/Resources/public/vendor/jquery-file-upload/js/jquery.fileupload-jquery-ui.js'
    '@SidusFileUploadBundle/Resources/public/vendor/jquery-file-upload/js/jquery.iframe-transport.js'
    '@SidusEAVBootstrapBundle/Resources/public/js/bootstrap.collection.js'
    '@SidusEAVBootstrapBundle/Resources/public/js/sortable.collection.js'
    '@SidusFileUploadBundle/Resources/public/js/jquery.fileupload.sidus.js'
    '@PinanoSelect2Bundle/Resources/public/js/select2.min.js'
    '@PinanoSelect2Bundle/Resources/public/js/i18n/fr.js'
    '@SidusEAVBootstrapBundle/Resources/public/js/autocomplete.combo.selector.js'
    '@CleverAgeEAVManagerLayoutBundle/Resources/public/js/init.datepickers.js'
    '@CleverAgeEAVManagerLayoutBundle/Resources/public/js/automodal.js'
    '@CleverAgeEAVManagerLayoutBundle/Resources/public/js/input.picker.js'
    '@CleverAgeEAVManagerLayoutBundle/Resources/public/js/datagrid.updater.js'
    '@CleverAgeEAVManagerLayoutBundle/Resources/public/js/ajax.navigation.js'
    '@CleverAgeEAVManagerLayoutBundle/Resources/public/js/navigation.js'
    '@CleverAgeEAVManagerLayoutBundle/Resources/public/js/init.document.js'
    '@CleverAgeEAVManagerLayoutBundle/Resources/public/js/navigation.lock.js'
    '@CleverAgeEAVManagerLayoutBundle/Resources/public/js/media.browser.js'
    filter='?uglifyjs2' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ tinymce_init() }}
{% endblock %}
{% block additionnal_javascript %}{% endblock %}
</body>
</html>
