{% extends 'CleverAgeEAVManagerAdminBundle:Base:edit.html.twig' %}

{% import "CleverAgeEAVManagerLayoutBundle:Macros:utilities.html.twig" as utilities %}

{% block flash_messages %}
    {{ not success ? utilities.flash_messages() }}
{% endblock %}

{% block submit_button %}
    <button type="submit" class="btn btn-danger">
        {{ tryTrans([admin_trans_key ~ '.label', 'admin.action.' ~ admin.currentAction.code ~ '.label'], [], admin.currentAction.code|capitalize) }}
    </button>
{% endblock %}

{% block tg_center %}
    {% if form is defined %}
        <div class="edit-form {% block edit_form_class %}{% endblock %}">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <p>{{ ('form.' ~ admin.currentAction.code ~ '.confirmation')|trans({'%entity%': data is defined ? (data.__toString is defined ? data.__toString)}) }}</p>
            {{ block('form_actions') }}
            {{ form_end(form) }}
        </div>
    {% endif %}
{% endblock %}

{% block additionnal_javascript %}
    {% if isAjax %}
        {{ utilities.update_datagrid_active_row(dataGridCode, data is defined ? data, dataId, success, target) }}
        {% if target and success %}
            <script>
                // Launched only on ajax calls when jQuery is already defined: close current target
                if (typeof $ != 'undefined') {
                    var t = $('#{{ target }}');
                    t.html('');
                    {% if target == 'tg_modal' %}
                    t.modal('hide');
                    {% endif %}
                }
            </script>
        {% endif %}
    {% endif %}
{% endblock %}
