{% extends 'CleverAgeEAVManagerAdminBundle:Base:edit.html.twig' %}

{% import "CleverAgeEAVManagerLayoutBundle:Macros:utilities.html.twig" as utilities %}

{% block flash_messages %}
    {{ not success ? utilities.flash_messages() }}
{% endblock %}

{% block submit_button %}
    <button type="submit" class="btn btn-danger">
        {{ tryTrans([admin_trans_key ~ '.label', 'admin.action.' ~ admin.currentAction.code ~ '.label'], [], admin.currentAction.code|capitalize) }}
    </button>
{% endblock %}

{% block secondary_actions %}
    {% if data is defined and data and admin.hasAction('edit') %}
        <li>
            <a href="{{ admin_entity_path(admin, data, 'edit') }}">
                <i class="fa fa-pencil"></i>
                {{ tryTrans([admin_trans_key ~ 'edit.label', 'admin.action.edit.label'], [], 'Edit') }}
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block tg_center %}
    {% if form is defined %}
        {% use '@CleverAgeEAVManagerAdmin/Base/partials/edit.blocks.html.twig' %}
        {% use '@CleverAgeEAVManagerAdmin/Base/partials/delete.blocks.html.twig' %}
        {% if isModal %}
            {{ block('edit_modal') }}
        {% else %}
            {{ block('edit_standard') }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block additionnal_javascript %}
    {{ utilities.triggerDataEvent(admin, data is defined ? data, dataId, success, target) }}
{% endblock %}
