{% extends 'CleverAgeEAVManagerAdminBundle:Base:edit.html.twig' %}

{% import "CleverAgeEAVManagerLayoutBundle:Macros:utilities.html.twig" as utilities %}

{% block flash_messages %}
    {{ not success ? utilities.flash_messages() }}
{% endblock %}

{% block submit_button %}
    <button type="submit" class="btn btn-danger">
        {{ tryTrans([admin_trans_key ~ '.label', 'admin.action.' ~ admin.currentAction.code ~ '.label'], [], admin.currentAction.code|capitalize) }}
    </button>
{% endblock %}

{% block secondary_actions %}
    {% if data|default() and admin.hasAction('edit') %}
        <li>
            <a href="{{ admin_entity_path(admin, data, 'edit') }}">
                <i class="fa fa-pencil"></i>
                {{ tryTrans([admin_trans_key ~ 'edit.label', 'admin.action.edit.label'], [], 'Edit') }}
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block tg_center %}
    {% if form is defined %}
        <div class="edit-form {% block edit_form_class %}{% endblock %}">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <p>{{ ('form.' ~ admin.currentAction.code ~ '.confirmation')|trans({'%entity%': data|default()|trim}) }}</p>
            {{ block('form_actions') }}
            {{ form_end(form) }}
        </div>
    {% endif %}
{% endblock %}

{% block additionnal_javascript %}
    {{ utilities.triggerDataEvent(admin, data|default(), dataId, success, target) }}
{% endblock %}
