{% extends isAjax ? 'CleverAgeEAVManagerLayoutBundle::empty_layout.html.twig' : admin.baseTemplate %}

{% import "@CleverAgeEAVManagerLayout/Macros/utilities.html.twig" as utilities %}

{% if isAjax and form is defined %}
    {% form_theme form 'CleverAgeEAVManagerLayoutBundle:Form:ajax_theme.html.twig' %}
{% endif %}

{% block tg_center %}
    <div class="edit-form">
        {{ form_start(form) }}
            {% block form_actions %}
                <div class="btn-group pull-right">
                    <a href="{{ admin_path(admin, 'list') }}" class="btn btn-default" data-close-target="{{ target }}">
                        {{ isAjax ? 'Fermer' : 'Retour' }}
                    </a>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
                <div class="clear"></div>
            {% endblock %}
            {{ form_widget(form) }}
            {{ block('form_actions') }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block additionnal_javascript %}
    {{ utilities.update_datagrid_active_row(admin.code, data, data ? data.id, success, target) }}
    {{ utilities.lock_form(form.vars.attr.id, target) }}
{% endblock %}
