{% extends isAjax ? 'CleverAgeEAVManagerLayoutBundle::empty_layout.html.twig'
        : baseTemplate|default('CleverAgeEAVManagerAdminBundle:Base:list.html.twig') %}

{% set admin_trans_key = 'admin.' ~ admin.code ~ '.' ~ admin.currentAction.code ~ '.' %}

{% if isAjax and form is defined %}
    {% form_theme form 'CleverAgeEAVManagerLayoutBundle:Form:ajax_theme.html.twig' %}
{% endif %}

{% block tg_center %}
    <div class="edit-form {% block edit_form_class %}{% endblock %}">
        {{ form_start(form) }}
        {% block form_actions %}
            <div class="btn-group pull-right">
                <a href="{{ listPath }}" {% if isAjax %}data-close-target="{{ target }}"{% endif %}
                   class="btn btn-default">
                    {% if isAjax %}
                        {{ tryTrans([admin_trans_key ~ 'close.label', 'admin.action.close.label'], []) }}
                    {% else %}
                        {{ tryTrans([admin_trans_key ~ 'back.label', 'admin.action.back.label'], []) }}
                    {% endif %}
                </a>
                {% block submit_button %}
                    <button type="submit" class="btn btn-primary">
                        {{ tryTrans([admin_trans_key ~ 'submit.label', 'admin.action.submit.label'], []) }}
                    </button>
                {% endblock %}
            </div>
            <div class="clear"></div>
        {% endblock %}
        {{ form_widget(form) }}
        {{ block('form_actions') }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block additionnal_javascript %}
    {{ parent() }}
    {{ utilities.update_datagrid_active_row(dataGridCode, data, data ? data.id, success, target) }}
    {{ utilities.lock_form(form.vars.attr.id, target) }}
{% endblock %}
