{% extends '@CleverAgeEAVManagerUser/Mail/mail.base.html.twig' %}

{# @var user \CleverAge\EAVManager\UserBundle\Entity\User #}

{% block subject %}Vos nouveaux accès à EAVManager{% endblock %}

{% block body_text %}
    {% autoescape false %}
        Bonjour,

        Votre demande de réinitialisation de mot de passe a été traitée, vous trouverez ci-dessous vos nouveaux accès.

        Informations de connexion :

        Veuillez trouver ci-dessous vos informations de connexion :
        Accès : {{ url('eavmanager_layout.dashboard') }}
        Identifiant : {{ user.username }}
        Mot de passe : {{ password }}

        Vous pourrez ensuite modifier votre mot de passe dans votre profil utilisateur.
        Bien cordialement,

        L’équipe EAVManager
    {% endautoescape %}
{% endblock %}

{% block body_html_content %}
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td valign="top" align="left">
                <font face="Trebuchet MS, Arial, Helvetica, sans-serif" size="2">
                    Bonjour, <br/><br/>
                    Votre demande de réinitialisation de mot de passe a été traitée, vous trouverez ci-dessous vos
                    nouveaux accès.<br/><br/>
                    Veuillez trouver ci-dessous vos informations de connexion : <br/><br/>
                </font>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top" class="bodyContent">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td align="left" valign="top" class="bodyContent" bgcolor="#EAF1F6"
                            style="padding:20px; margin-bottom:20px;">
                            <font face="Trebuchet MS, Arial, Helvetica, sans-serif" size="2">
                                <b>- Accès</b> : <a href="{{ url('eavmanager_layout.dashboard') }}">{{ url('eavmanager_layout.dashboard') }}</a><br/>
                                <b>- Identifiant</b> : {{ user.username }}<br/>
                                <b>- Mot de passe</b> : {{ password }}<br/>
                            </font>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top" class="bodyContent">
                <font face="Trebuchet MS, Arial, Helvetica, sans-serif" size="2">
                    Vous pourrez ensuite modifier votre mot de passe dans votre profil utilisateur.<br/><br/>
                    Bien cordialement,<br/>
                </font>
            </td>
        </tr>
    </table>
{% endblock %}
