{% extends 'CleverAgeEAVManagerAdminBundle:Data:edit.html.twig' %}

{% block flash_messages %}
    {{ not success ? utilities.flash_messages() }}
{% endblock %}

{% block tg_center %}
    {% if form is defined %}
        <div class="edit-form">
            <a href="{{ admin_path(admin, 'list', {familyCode: family.code}) }}" data-close-target="{{ target }}" class="pull-right">
                <i class="fa fa-close"></i>
            </a>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="btn-group pull-right">
                <a href="{{ admin_path(admin, 'list', {familyCode: family.code}) }}" class="btn btn-default" data-close-target="{{ target }}">
                    {{ 'admin.family.delete.back.label'|trans }}
                </a>
                <button type="submit" class="btn btn-danger">{{ 'admin.family.delete.submit.label'|trans }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    {% endif %}
{% endblock %}

{% block additionnal_javascript %}
    {{ utilities.update_datagrid_active_row(family.code, data is defined ? data, dataId, success, target) }}
    {% if target and success %}
        <script>
            // Launched only on ajax calls when jQuery is already defined: used to update datagrid's row
            if (typeof $ != 'undefined') {
                $('#{{ target }}').html('');
            }
        </script>
    {% endif %}
{% endblock %}
