{% block role_hierarchy_widget %}
    {% if form.hasRole is defined %}
        {{ form_widget(form.hasRole) }}
        <div class="col-lg-offset-1">
            {{ form_rest(form) }}
        </div>
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
{% endblock %}

{% block family_permission_widget %}
    <div class="row">
        <div class="col-sm-3">
            {{ form_widget(form.family) }}
        </div>
        {% for permission in form %}
            {% if not permission.rendered %}
                <div class="col-sm-1">
                    {{ form_widget(permission) }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

